*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*LOGO*/
.div-titre {
    height:10vh;
    width:100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

#logojpg{
    height:10vh;
}

/*QUESTION SECTION*/
.div-question{
    height:7vh;
    width:100%;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
    
}
.question-sentence{
    font-family:  "Roboto", sans-serif;
    font-weight: bolder;
    font-size:5vw;
   height:10vh;
   background-color:aliceblue;

}

/*ANSWER SECTION*/
.sec-answer{
    height:15vh;
    width:100%;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 40px;
}

#aTextBox{
    font-family:  "Roboto", sans-serif;
    font-weight: bold;
    font-size:5vw;

}

/*correct-false SECTION*/
.correct-false{
    height:10vh;
    width:100%;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 15vh;
}

#false_answer{
    display:none;
    margin-top: 30px;
}
#correct_answer{
    display:none;
    margin-top: 20px;
}



/*section cheat*/
.sec-cheat{
    margin-top: 50vh;
    height:30vh;
    width:100%;
    display: grid;
    justify-items: center;
    align-items: center;

}

.dropbtn {
    
    background-image: url("cheat-cover.jpg");
    width: 300px;
    height:300px;
    
    padding: 0px;
    border: none;
    cursor: pointer;
  }
  
 /* .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
    left:8px;
  }
  

  
  
  .show {display: block;}


  @media(max-width:568px){

/*QUESTION SECTION*/
.div-question{
    height:7vh;
    width:100%;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
.question-sentence{
    font-family:  "Roboto", sans-serif;
    font-weight: bolder;
    font-size:6vw;
   height:8vh;
   background-color:aliceblue;
   


}

/*ANSWER SECTION*/
.sec-answer{
    height:15vh;
    width:100%;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 5px;
}

#aTextBox{
    font-family:  "Roboto", sans-serif;
    font-weight: bold;
    font-size:7.5vw;

}




  }